
.DS_Store

.flexProperties

.project

*.prefs

*.air

bin-debug/MiracleME-app.xml

bin-debug/assets/flash/Museum_HP.fla

bin-debug/MiracleME.swf

bin-debug/assets/flash/Museum_HP.html

bin-debug/assets/flash/Museum_HP.swf

bin-debug/assets/flash/Museum_HP_Jeremy.fla

bin-debug/assets/icons/128.png

bin-debug/assets/icons/16.png

bin-debug/assets/icons/32.png

bin-debug/assets/icons/48.png

bin-debug/assets/pics/cold.png

bin-debug/assets/pics/hot.png

bin-debug/assets/vids/hp.mp4

bin-debug/assets/vids/hpf.mp4

bin-debug/assets/pics/splash.jpg
